:root {
  --primary-font: 'Inter', sans-serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: var(--primary-font);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/* @media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
} */

.section {
  padding: 40px 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.dark-theme {
  background: #06071b;
}

.light-theme {
  background: linear-gradient(0deg, #00c5eb33, #b544fe33);
}

/**
  |============================
  |         HEADER
  |============================
*/

.header {
  padding-top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
}

.logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
}

.button-open {
  border: none;
  background: transparent;
  padding: 0;
  line-height: 0;
}

.button-open-icon {
  fill: #ffffff;
}

/**
  |============================
  |         HERO
  |============================
*/

.hero-section {
  padding: 100px 20px 126px 20px;
}

.hero-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 12px;
}

.hero-title-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  margin-bottom: 28px;
}

.hero-list-item-container1 {
  position: relative;
  width: 263px;
  padding-left: 22px;
}

.hero-list-item-container2 {
  position: relative;
  padding-left: 22px;
}

.hero-list-item-container3 {
  position: relative;
  padding-left: 22px;
}

.hero-list {
  margin-bottom: 40px;
}
.hero-list-item {
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}

.hero-list-item-icon {
  fill: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #ffffff;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  min-width: 200px;
  height: 42px;
  display: block;
  text-align: center;
  margin: 0 auto;
}

/**
  |============================
  |         KEY FEATURES
  |============================
*/

.sec-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}

.sec-title-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 280px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 0 20px 0 60px;
}

.features-list-item {
  position: relative;
  margin: 0 auto;
}

.features-list-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
  margin-bottom: 12px;
}

.features-list-item-img {
  position: absolute;
  bottom: 80%;
  left: -40px;
}

/**
  |============================
  |         MOBILE MENU
  |============================
*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #07081c;
  padding: 34px 20px 124px 20px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 52px;
}

.mobile-menu-close {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.mobile-menu-close-icon {
  fill: #ffffff;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.mobile-nav-list-link {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.mobile-nav-list-link:focus,
.mobile-nav-list-hover:hover {
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
